{% extends "console-layout/layout.html" %}
 
{% block page_title %}Clients{% endblock  %}

{% block main_body %}

<span class="text-2xl text-slate-100">Manage Clients</span>
<div class="w-full h-[50px] flex items-center justify-end">
    <div>
        <button type="button" class="upload_reels_btn py-1 px-2 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-white text-gray-800 hover:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
            Add Client  
          </button>
          <script>

            function popupFun(){
                const popup = document.createElement('div');
                popup.classList = 'popup h-full w-full fixed top-0 left-0 z-[51] p-6';
                popup.innerHTML = `
                <div class="h-full w-full opacity-75 bg-slate-900 absolute top-0 left-0">
                </div>
                <div class="h-auto w-[500px] p-2 bg-blue-100 video_playback opacity-100 absolute top-2/4 left-2/4 translate-x-[-50%] translate-y-[-50%] overflow-hidden rounded-2xl">
                    <div class='mt-4 mb-2 w-full text-slate-900 flex justify-center text-xl'>Add Client</div>
                    <div class='error_message capitalize mt-1 mb-3 h-4 w-full text-slate-100 flex justify-center text-md text-red-500 font-bold'></div>
                    <div class="w-full p-2 flex flex-col items-center">
                      <div class="w-full h-auto p-1">
                        <div class="w-full flex">
                          <div class="w-1/4 flex items-center select-none">Name</div>
                          <div class="w-3/4">
                            <input type="text" class="name py-3 px-4 block my-2 w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Name" required>
                          </div>
                        </div>
                      </div>
                      <div class="w-full h-auto p-1">
                        <div class="w-full flex">
                          <div class="w-1/4 flex items-center select-none">Contact Number</div>
                          <div class="w-3/4">
                            <input type="number" class="contact_number py-3 px-4 block my-2 w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Contact Number" required>
                          </div>
                        </div>
                      </div>
                      <div class="w-full h-auto p-1">
                        <div class="w-full flex">
                          <div class="w-1/4 flex items-center select-none">Email Id</div>
                          <div class="w-3/4">
                            <input type="email" class="email_id py-3 px-4 block my-2 w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Email ID" required>
                          </div>
                        </div>
                      </div>

                        <button type="button" class="upload_submit py-3 px-4 m-2 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-teal-500 text-white hover:bg-teal-600 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Submit</button>
                      </div>
                  </div>
                </div>

                <div class="close_btn_dv h-8 w-8 absolute top-[2%] right-[3%] rounded-full flex justify-center items-center">
                    <img class="w-[90%] h-[90%] hover:h-full hover:w-full duration-300" src="/static/assets/images/icons/close_button_black.png">
                </div>
                `

                // popup.innerHTML = `
                //     <div class="h-full w-full opacity-75 bg-slate-900 absolute top-0 left-0">
                //     </div>
                //     <div class="h-96 w-[500px] bg-slate-600 video_playback opacity-100 absolute top-2/4 left-2/4 translate-x-[-50%] translate-y-[-50%] overflow-hidden rounded-2xl">
                //         <div class='mt-4 mb-2 w-full text-slate-100 flex justify-center text-xl'>Add Client</div>
                //         <div class='error_message capitalize mt-1 mb-3 h-4 w-full text-slate-100 flex justify-center text-md text-red-500 font-bold'></div>
                //         <div class=" w-full h-[300px] flex flex-col items-center">
                //             <input type="text" class="name py-3 px-4 block m-2 w-[70%] border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Name" required>
// 
                //             <input type="number" class="contact_number py-3 px-4 block m-2 w-[70%] border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Contact Number" required>
// 
                //             <input type="email" class="email_id py-3 px-4 block m-2 w-[70%] border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Email ID" required>
                //             
                //             <button type="button" class="upload_submit py-3 px-4 m-2 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-teal-500 text-white hover:bg-teal-600 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                //                 Upload
                //               </button>
                //         </div>
                //     </div>
// 
                //     <div class="close_btn_dv h-8 w-8 absolute top-[2%] right-[3%] rounded-full flex justify-center items-center">
                //         <img class="w-[90%] h-[90%] hover:h-full hover:w-full duration-300" src="/static/assets/images/icons/close_button.png">
                //     </div>
                //     `
                document.body.prepend(popup)
                const close_btn = document.querySelector('.close_btn_dv')
                close_btn.addEventListener('click', ()=>{
                    const popup = document.querySelector('.popup')
                    popup.remove()
                })
            }
                const upload_reels_btn= document.querySelector('.upload_reels_btn');
                upload_reels_btn.addEventListener('click', ()=>{
                    popupFun()

                    let name = document.querySelector('.name');
                    let contact_number = document.querySelector('.contact_number');
                    let email_id = document.querySelector('.email_id');
                    const error_message = document.querySelector('.error_message');

                    function success(el, message){
                        error_message.innerText = message
                        if (el != 0) {
                            el.classList.remove('outline')
                            el.classList.remove('outline-4')
                            el.classList.remove('outline-red-600')
                            el.classList.remove('outline-offset-0')
                        }
                    }
                    function failed(el, message){
                        error_message.innerText = message
                        if (el != 0) {
                            el.classList.add('outline')
                            el.classList.add('outline-4')
                            el.classList.add('outline-red-600')
                            el.classList.add('outline-offset-0')
                        }
                    }


                    name.addEventListener('blur', ()=>{
                        console.log(name.value.length)
                        if (name.value.length < 1) {
                            failed(name, 'name should not be blank')
                        } else {
                            success(name, '')
                        }
                    })
                    contact_number.addEventListener('blur', ()=>{
                        console.log(contact_number.value.length)
                        if (contact_number.value.length < 10) {
                            failed(contact_number, 'enter a valid contact number')
                        } else {
                            success(contact_number, '')
                        }
                    })
                    email_id.addEventListener('blur', ()=>{
                        console.log(email_id.value.length)
                        if (email_id.value.length < 1) {
                            failed(email_id, 'email_id should not be blank')
                        } else {
                            success(email_id, '')
                        }
                    })



                    const upload_submit = document.querySelector('.upload_submit');
                    upload_submit.addEventListener('click', ()=>{

                        console.log(name.value, contact_number.value, email_id.value)

                            if(name.value.length > 0 && contact_number.value.length === 10 && email_id.value.length > 0){
                                let formData = new FormData();
                                formData.append('name', name.value)
                                formData.append('contact_number', contact_number.value)
                                formData.append('email_id', email_id.value)
                                let token = localStorage.getItem('token')
                                if (token){
                                    (async function rlUpl(){
                                        console.log('asdfasdf')
                                        let a = await fetch('{% url "add_client" %}', {method: 'POST', headers:{ 'Authorization': 'Bearer '+ JSON.parse(token).access}, body: formData})
                                        a = await a.json()
                                        if (a && a.status === 200){
                                            const popup = document.querySelector('.popup');
                                            popup.remove()
                                            const dv = document.createElement('div');
                                            dv.classList = 'submit_alert w-80 absolute left-[50%] translate-x-[-50%] top-4 overflow-hidden'
                                            dv.innerHTML= `<div class="bg-teal-50 border-t-2 border-teal-500 rounded-lg p-4 dark:bg-teal-800/30" role="alert">
                                                <div class="flex">
                                                  <div class="flex-shrink-0">
                                                    <span class="inline-flex justify-center items-center w-8 h-8 rounded-full border-4 border-teal-100 bg-teal-200 text-teal-800 dark:border-teal-900 dark:bg-teal-800 dark:text-teal-400">
                                                      <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"/><path d="m9 12 2 2 4-4"/></svg>
                                                    </span>
                                                  </div>
                                                  <div class="ms-3">
                                                    <h3 class="text-gray-800 font-semibold dark:text-white">
                                                        ${a.message}
                                                    </h3>
                                                  </div>
                                                </div>
                                                <div class="submit_alert_duration bg-green-800 w-[100%] h-[6px] absolute bottom-0 left-0 rounded-b-md"></div>
                                              </div>
                                              `
                                              document.body.prepend(dv)
                                              
                                              const submit_alert = document.querySelector('.submit_alert');
                                              // const submit_alert_duration = submit_alert.querySelector('.submit_alert_duration')
                                              setTimeout(()=>{
                                                // submit_alert_duration.style.width = Number((submit_alert_duration.style.width).replaceAll('%', '')) - 25+'%'
                                                // submit_alert.remove()
                                                window.location.reload()

                                              },1000)
                                              
                                        }
                                    }())
                                }
                            } else {
                                failed(0, 'something went wrong, no issue at the server\'s end')
                            }
                    })
                })


          </script>
    </div>
</div>


<div class="w-full">
    <div class="flex flex-col  bg-slate-100 rounded-xl p-4 mt-4">
        <div class="-m-1.5 overflow-x-auto">
          <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="overflow-hidden">
              <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                <thead>
                  <tr>
                    <th scope="col" class="px-6 py-2 text-start text-xs font-medium text-gray-500 uppercase">Profile</th>
                    <th scope="col" class="px-6 py-2 text-start text-xs font-medium text-gray-500 uppercase">Name</th>
                    <th scope="col" class="px-6 py-2 text-start text-xs font-medium text-gray-500 uppercase">Contact Number</th>
                    <th scope="col" class="px-6 py-2 text-start text-xs font-medium text-gray-500 uppercase">Bookings Status</th>
                    <th scope="col" class="px-6 py-2 text-end text-xs font-medium text-gray-500 uppercase">Action</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 dark:divide-gray-700">


                {% if pages != 'no data' %} {% for r in pages %}

                  <tr id="{{r.id}}">
                    {% load static %}
                    <td class="px-6 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200 capitalize"><img class="h-6 w-6 mr-3" src="/static/{{r.profile}}"></td>
                    <td class="px-6 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200 capitalize">{{ r.name }}</td>
                    <td class="px-6 py-2 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">{{ r.contact_number}}</td>
                    <td class="px-6 py-2 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200 capitalize"> {% if r.booking %}{{r.booking.booking_status}}{% else %}NA{% endif %}                      
                      {% comment %} {% if r.wedding_date == None %} - {% else %} {{ r.wedding_date }} {% endif %} {% endcomment %}
                    
                    </td>
                    {% comment %} <td class="px-6 py-2 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200 flex"> </td> {% endcomment %}
                    <td class="px-6 py-2 whitespace-nowrap text-end text-sm font-medium">
                      <button type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                        <a href="/console/client-edit?id={{r.id}}"><button type="button" data-id={{r.id}} class="edit_booking py-2 px-2 w-16 flex justify-center items-center inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Edit</button></a>
                        {% comment %} <button type="button" data-id={{r.id}} data-file="/static/{{r.file}}" class="cancle_booking py-2 px-2 w-16 flex justify-center items-center inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-red-500 text-white hover:bg-red-600 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Cancle</button> {% endcomment %}
                    </button>
                    </td>
                  </tr>
                  {% endfor %}

                  {% else %}
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">{{ pages }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">{{ pages }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">{{ pages }}</td>
                    {% comment %} <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200 flex"> </td> {% endcomment %}
                    <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                      <button type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">{{pages}}</button>
                    </td>
                  </tr>

                  {% endif %}
                  
                </tbody>
              </table>

              <script src="/static/assets/js/popup_confirm.js"></script>
              <script src="/static/assets/js/fetch.js"></script>

              <script>

                // const cancle_booking = document.querySelectorAll('.cancle_booking');
                // if (cancle_booking.length > 0){
                //   cancle_booking.forEach(e=>{
                //     e.addEventListener('click', (e)=>{
                //       popupConfirmFun(e.target.getAttribute('data-id'), 'Cancle Booking!', 'Are you sure you want to cancle this booking?', null)
// 
                //       const confirm = document.querySelector('.confirm');
                //       confirm.addEventListener('click', async (e)=>{
                //         let id = e.target.getAttribute('data-id')
                //         console.log('id', id)
                //         csrf = JSON.parse(localStorage.getItem('token'))
// 
                //         console.log('confirm cancle')
                //         let url = "{% url 'cancle_booking' %}";
                //         url = url.replaceAll(0,id) 
                //         
                //         let a = await ftN(url , 'DELETE', {'Content-Type': 'application/json', 'Authorization': 'Bearer '+csrf.access}, JSON.stringify({'data': 'no data'}))
                //         if (a && a.status === 200){
                //           const popup = document.querySelector('.popup');
                //           popup.remove()
                //           poperFunction(a.status, a.message, true);
                //             
                //         } else {
                //           poperFunction(a.status, a.message, false)
                //         }
// 
// 
                //       })
// 
// 
                //     })
                //   })
                // }

                {% comment %} const edit_booking = document.querySelectorAll('.edit_booking');
                edit_booking.forEach(e=>{
                    e.addEventListener('click', async ()=>{
                        
                }) {% endcomment %}

                    
                {% comment %} }) {% endcomment %}

              </script>


              {% comment %} {% for p in pages  %} {% endcomment %}

              {{pages.num_pages}}
                
              {% comment %} {% endfor %} {% endcomment %}

              {% if pages != 'no data' %}
                {% include 'console-layout/pagination.html' with pages=pages %}
              {% endif %} 

            </div>
          </div>
        </div>
      </div>

</div>



{% endblock  %}