{% extends "console-layout/layout.html" %}
 

{% block page_title %}
    Payments
{% endblock  %}

{% block main_body %}

{% comment %} {%for k,v in request.GET.items %}
  {{k}} - {{v}}</br>
{% endfor %} {% endcomment %}




{% comment %} {% for p in pages %}
  {{p}}
{%endfor%} {% endcomment %}


    <span class="text-2xl text-slate-100 border-b select-none">Payments</span>
    <div class="w-full mt-6 h-[50px] flex items-center ">
      <select class="date_selector w-40 h-8 rounded-xl px-3 mx-1 capitalize">
        <option disabled selected value="{{dateSelector}}">{{dateSelector}}</option>
        <option value="today">today</option>
        <option value="this_month">this month</option>
        <option value="this_year">this year</option>
        <option value="custom">custom</option>
        {% comment %} <option value="this_month">Custom</option> {% endcomment %}
    </select>
    
    <span class="custom_date_selector {% if not dateSelector == 'custom' %}hidden{% endif %}">
    <input type="date" class="date_select_from w-40 h-8 rounded-xl px-3 mx-1" value="{{date.date_from}}"><span class="text-white">to</span><input type="date" class="date_select_to w-40 h-8 rounded-xl px-3 mx-1" value="{{date.date_to}}">
      <button type="button" class="py-1 px-2 custom_date_submit inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-teal-500 text-white hover:bg-teal-600 disabled:opacity-50 disabled:pointer-events-none">Submit</button>
    </span>
    
    </div>
    <div class="flex flex-col w-full bg-slate-100 rounded-xl p-4 my-4">
        <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
                <div class="overflow-hidden">
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                        <thead>
                          <tr>
                            <th scope="col" class="px-6 py-2 text-start text-xs font-medium text-gray-500 uppercase">Date</th>
                            <th scope="col" class="px-6 py-2 text-start text-xs font-medium text-gray-500 uppercase">Client</th>
                            <th scope="col" class="px-6 py-2 text-start text-xs font-medium text-gray-500 text-end uppercase">Amount</th>
                            <th scope="col" class="px-6 py-2 text-start text-xs font-medium text-gray-500 text-end uppercase">Payment Mode</th>
                            <th scope="col" class="px-6 py-2 text-start text-xs font-medium text-gray-500 text-end uppercase">Notes</th>
                            {% comment %} <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 text-end uppercase">Invoice Id</th> {% endcomment %}
                            <th scope="col" class="px-6 py-2 text-end text-xs font-medium text-gray-500 uppercase">Action</th>  
                          </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                          {% if pages != 'no data' %} {%for p in pages%}
                          <tr>
                            <td class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">{{p.date}}</td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">{{p.user.name}}</td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200 text-end" id="p_{{p.id}}"></td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200 text-end">{{p.payment_mode}}</td>
                            <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200 text-end">{{p.payment_note}}</td>
                            {% comment %} <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200 text-end">{{p.id}}</td> {% endcomment %}
                            <script>
                              var p_id = document.getElementById(`p_{{p.id}}`);
                              p_id.innerText = {{p.amount}}
                            </script>
                            <td class="px-6 py-3 whitespace-nowrap text-end text-sm font-medium">
                              <button type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                                <button type="button" data-id={{p.id}} class="edit py-1 px-1 w-16 flex justify-center items-center inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">View</button>
                            </button>
                            </td>
                          </tr>
                          {% endfor %}

                          {% else %}
                          <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">{{ pages }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">{{ pages }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">{{ pages }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                              <button type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">{{pages}}</button>
                            </td>
                          </tr>

                          
                      {% endif %}
                          
                        </tbody>
                    </table>
                    {% comment %} {% with pages=pages %} {% endcomment %}
                    {% if pages != 'no data' %}
                        {% include 'console-layout/pagination.html' with pages=pages %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    

    <script src="/static/assets/js/poper.js"></script>
    <script>



      const date_selector = document.querySelector('.date_selector');
      date_selector.addEventListener('change',()=>{
        console.log('date_selector.value',date_selector.value)
        if (date_selector.value !== 'custom'){
          window.location.search = `?date=${date_selector.value}`
        } else {
          const custom_date_selector = document.querySelector('.custom_date_selector')
          custom_date_selector.classList.remove('hidden')

          const custom_date_submit = document.querySelector('.custom_date_submit');
          custom_date_submit.addEventListener('click',()=>{
            const date_select_from = document.querySelector('.date_select_from');
            const date_select_to = document.querySelector('.date_select_to')

            if (date_select_from.value === '' ){
              poperFunction(400,'date not selected',false)
              date_select_from.classList.add('border-2')
              date_select_from.classList.add('border-red-700')
            }

            if (date_select_to.value === '' ){
              poperFunction(400,'date not selected',false)
              date_select_to.classList.add('border-2')
              date_select_to.classList.add('border-red-700')
            }

            if (date_select_from.value !== '' || date_select_to.value !== ''){
              window.location.search = `?date=${date_selector.value}&date_from=${date_select_from.value}&date_to=${date_select_to.value}`
            }

          })
        }
      })

      {% comment %} const edit = document.querySelectorAll('.edit');
      edit.forEach(e=>{
        e.addEventListener('click',()=>{
          console.log(e .getAttribute('data-id'))
        })
      }) {% endcomment %}

    </script>
{% endblock  %}