{% extends "console-layout/layout.html" %}
 
{% block page_title %}
    Bookings
{% endblock  %}

{% block main_body %}

<script src="/static/assets/js/fetch.js"></script>
<script src="/static/assets/js/poper.js"></script>

    <span class="text-2xl text-slate-100 border-b">Bookings</span>
        <div class="w-full mt-6 h-[50px] flex items-center ">
            <select class="date_selector w-40 h-8 rounded-xl px-3">
                <option disabled selected value="this_month">This Month</option>
                <option value="today">Today</option>
                <option value="this_month">This Month</option>
                <option value="this_year">This Year</option>
                {% comment %} <option value="this_month">Custom</option> {% endcomment %}
            </select>
        </div>
        <div class="flex flex-col w-full bg-slate-100 rounded-xl p-4 my-4">
            <div class="-m-1.5 overflow-x-auto">
                <div class="p-1.5 min-w-full inline-block align-middle">
                    <div class="overflow-hidden">
                        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                            <thead>
                              <tr>
                                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Date</th>
                                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Client Name</th>
                                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Event Type</th>
                                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Requirement</th>
                                <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase ">Action</th>
                              </tr>
                            </thead>
                            <tbody class="booking_table_body divide-y divide-gray-200 dark:divide-gray-700">
                            {% if pages != 'no data' %}{%for p in pages%}

                            {% comment %} {{p.id}} {% endcomment %}
                            

                            {% if p.booking_status.title == 'confirmed' %}


                              {% comment %} {% for s in p.shoot_date.all %} {% endcomment %}
                                
                                  {% comment %} {{s}} {% endcomment %}
                                

                              {% comment %} {% endfor %} {% endcomment %}
                              {% for s in p.shoot_date.all %}
                                {% if s.date.month == date %}                            
                              <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">{{ s }}</br></td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200 capitalize">{{p.user.name}}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">
                                    {% comment %} {% with first_service=p.service.first %}
                                        {{ first_service.segment }}
                                    {% endwith %} {% endcomment %}
                                </td>

                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">{%for r in s.additional_service.all %} {{r.count}} - {{r.additional_service}}</br> {%endfor%}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                                  {% comment %} <button type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"> {% endcomment %}
                                    <a href="http://localhost:8000/console/client-edit?id={{p.user.id}}&sec=booking"><button type="button" data-id={{p.user.id}} class="edit py-2 px-2 w-16 flex justify-center items-center inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Edit</button></a>
                                {% comment %} </button> {% endcomment %}
                                </td>
                              </tr>
                              {% endif %}
                              {% endfor %}
                              {% endif %}
                              {%endfor%}
                              {% else %}
                              <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">{{ pages }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">{{ pages }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">{{ pages }}</td>
                                {% comment %} <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200 flex"> </td> {% endcomment %}
                                <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                                  <button type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">{{pages}}</button>
                                </td>
                              </tr>
        
                              {% endif %}
                              
                            </tbody>
                        </table>

                        {% if pages != 'no data' %}
                            {% include 'console-layout/pagination.html' with pages=pages %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <script>
          const date_selector= document.querySelector('.date_selector');
          date_selector.addEventListener('change',async ()=>{
            console.log(date_selector.value, 'working')
            let token = JSON.parse(localStorage.getItem('token')).access
            let url = '{% url "get_bookings" date=0 page=1 %}'.replace(0,date_selector.value).replace(1,1)

            let a = await ftN(url, 'GET', {'Content-Type': 'application/json', 'Authorization': `Bearer ${token}`})
            if (a){
              //console.log('a',a)
              if (a.status === 200){
                console.log('a.data',a.data)

                const booking_table_body = document.querySelector('.booking_table_body');
                booking_table_body.innerHTML = ''

                a.data.forEach(e=>{

                  const tr = document.createElement('tr');
                  
                  const td1 = document.createElement('td');
                  td1.classList = 'px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200'
                  td1.innerText=e.date
                  tr.append(td1)

                  const td2 = document.createElement('td');
                  td2.classList = 'px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200 capitalize'
                  td2.innerText= e.client_name
                  tr.append(td2)

                  const td3 = document.createElement('td');
                  td2.classList = `px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200`
                  td3.innerText=``
                  tr.append(td3)

                  const td4 = document.createElement('td');
                  td4.classList = `px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200 additional_service_view`;
                  // td4.innerText=`<td class="">${e.additional_service}</br></td>`
                  // console.log(td4)
                  //const additional_service_view = td4.querySelector('.additional_service_view');
                  e.additional_service.forEach(f=>{
                      td4.innerHTML += `${f}</br>`;
                  })
                    tr.append(td4)

                  const td5 = document.createElement('td');
                  td5.classList = 'px-6 py-4 whitespace-nowrap text-end text-sm font-medium'
                  td5.innerHTML=`<button type="button" data-id=${e.id} class="edit py-2 px-2 w-16 flex justify-center items-center inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Edit</button>`
                  tr.append(td5)
                  
                  //tr.innerHTML = `
                  //`
                  booking_table_body.append(tr);
                })

                // poperFunction(a.status,a.message,false)
              } else {
                poperFunction(a.status,a.message,false)
              }
            }
          })

        </script>
        
{% endblock  %}